{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>LUCKY - {{title}}</title>
  {% else %}
    <title> LUCKY </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basegallery.css' %}">
  {% endblock %}

</head>
<body>
  {% include "navbar.html" %}
    <div class="steve">
      <div class="ongati text-center">
      <h1>LUCKY'S GALLERY WEBSITE</h1>
      <P>Welcome to LUCKY's gallery website where all photos are of high quality.</P>
      </div>
     </div>
  
  {% block content %} <h1 class='text-center'>{{date|date:"l d-F Y"}}</h1> {%endblock%}
  
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4" style="background-color: black;">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center" style="color:blue;">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/"> Kebaso Steve Ongati</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>