{% extends 'gallery/base.html' %}

 {% block content %}
 <div class="container">
   <h1>FASHION</h1>
  <div class="row">
<!-- Button trigger modal -->
 <div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal"><img src="https://bit.ly/33RgFOg"   class="img-responsive"   width="300" height="300" ></a>
</div>
<div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal2"><img src="https://bit.ly/3iQEOcf"   class="img-responsive"   width="300" height="300" ></a>
</div>
<div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal3"><img src="https://bit.ly/36XbcaY"   class="img-responsive"   width="300" height="300" ></a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Ladies Collection</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
     <img src="https://bit.ly/31fkUAF"   class="img-responsive" >&nbsp;
     <p>Created:oct.10.2020</p>
     <p>location:Nairobi</p>
     </div>
     
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">copy image</button>
     </div>
   </div>
 </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ladies Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img src="https://bit.ly/2u9BpC0"   class="img-responsive" >&nbsp;
      <p>Created:oct.10.2020</p>
      <p>location:Nairobi</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">copy image</button>
      </div>
    </div>
  </div>
 </div>
 <!-- Modal3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ladies Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img src="https://bit.ly/2UvTvsT"   class="img-responsive" >&nbsp;
      <p>Created:oct.10.2020</p>
     <p>location:Nairobi</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">copy image</button>
      </div>
    </div>
  </div>
 </div>
</div>
<br>
<br>
<br>
<br>
<br>
<h1>CARS</h1>
 <div class="row">
<!-- Button trigger modal -->
 <div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal5"><img src="https://bit.ly/37Ux44d"   class="img-responsive"   width="300" height="300" ></a>
</div>
<div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal6"><img src="https://bit.ly/2ttcwkw"   class="img-responsive"   width="300" height="300" ></a>
</div>
<div class="col-md-4">
 <a href="" data-toggle="modal" data-target="#exampleModal7"><img src="https://bit.ly/2RU6IK9"   class="img-responsive"   width="300" height="300" ></a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Cars Collection</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
     <img src="https://bit.ly/37Ux44d"   class="img-responsive" >&nbsp;
     <p>Created:oct.10.2020</p>
     <p>location:Nairobi</p>
     </div>
     
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">copy image</button>
     </div>
   </div>
 </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cars Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img src="https://bit.ly/2ttcwkw"   class="img-responsive" >&nbsp;
      <p>Created:oct.10.2020</p>
      <p>location:Nairobi</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">copy image</button>
      </div>
    </div>
  </div>
 </div>
 <!-- Modal3 -->
<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cars Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <img src="https://bit.ly/2RU6IK9"   class="img-responsive" >&nbsp;
      <p>Created:oct.10.2020</p>
      <p>location:Nairobi</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">copy image</button>
      </div>
    </div>
  </div>
 </div>
</div>
</div>


 {% endblock %}